.artists-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.artist {
    display: flex;
    align-items: center;
    padding: 2px;
    /* gap: 20px; */
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.artist-name {
    font-weight: 700;
}

.artist-image-container {
    height: 128px;
    width: 128px;
    min-width: 128px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .artist-image-container,
.artist-info {
    width: 50%;
} */

.artist-image {
    height: 100%;
    /* width: 100%; */
}

.play-icon {
    height: 36px;
    filter: invert(0%) sepia(2%) saturate(7%) hue-rotate(21deg) brightness(94%) contrast(104%);
    cursor: pointer;
}