.artists-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.artist {
    display: flex;
    align-items: center;
    padding: 2px;
    /* gap: 20px; */
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0 4px;
}

.artist-name {
    font-weight: 700;
}

.artist-image-container {
    height: 128px;
    width: 128px;
    min-width: 128px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:black;
}

.artist-image-container > img {
    border-radius: 4px;
    max-width: 128px;
    max-height: 128px;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* .artist-image-container,
.artist-info {
    width: 50%;
} */

.artist-image {
    height: 100%;
    /* width: 100%; */
}

.artist-info-icons {
    display: flex;
    gap: 4px;
    margin: 4px;
}

.play-spotify-icon {
    height: 36px;
}

@media only screen and (max-width: 600px) {
    .artists-container {
        grid-template-columns: 1fr 1fr;
    }

    .artist-image-container {
        min-width: 20vw;
        width: 20vw;
        height: 20vw;
        border-radius: 2px;
    }

    .artist-image-container > img {
        border-radius: 2px;
        max-width: 20vw;
        max-height: 20vw;
        width: auto;
        height: auto;
        object-fit: contain;
    }
    
    .artist-name {
        font-size: 12px;
    }
}