.album-details {
    width: 50%;
}

.album-details-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-details-image-container {
    max-width: 256px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.album-details-image {
    overflow: auto;
    border-radius: 4px;
}

.album-details-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.album-details-name > h1 {
    margin: 0;
    overflow-wrap: anywhere;
}

.album-details-spotify {
    display: flex;
    align-items: center;
    gap: 4px;
}

.album-details-spotify-icon {
    height: 36px;
}

.album-tracklist {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .album-details {
        width: 80%;
    }

    .album-details-image {
        width: 50%;
        border-radius: 2px;
    }

    .album-details-name {
        font-size: 24px;
    }

    .album-tracklist {
        width: 100%;
    }

    .tracklist-track {
        width: 100%;
        gap: 8px;
    }

    .tracklist-duration,
    .tracklist-index {
        width: auto;
    }

    /* .tracklist-title {
        width: 50%
    } */
}