.album-details-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-deatils-image {
    height: 256px;
    width: 256px;
    min-width: 256px;
}

.album-details-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.album-details-spotify-icon {
    height: 36px;
}

.album-tracklist {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .album-details-image {
        width: 50%;
    }

    .album-details-name {
        font-size: 24px;
    }

    .album-tracklist {
        width: 100%;
    }

    .tracklist-track {
        width: 100%;
        gap: 8px;
    }
}