.discography-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discography-settings {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.artist-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-details-image-container {
    /* height: 256px; */
    width: 256px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.artist-details-image {
    overflow: auto;
}

.artist-details-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.artist-details-spotify-icon {
    height: 36px;
}

.artist-albums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 10px auto;
    gap: 8px;
}

.album {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    /* border: 1px solid black; */
    padding: 2px;
}

.artist-album-image-container {
    height: 64px;
}

.artist-album-image {
    height: 64px;
}

.artist-album-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
}

.artist-tracks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 10px auto;
}

.artist-track {
    display: flex;
    align-items: center;
    gap: 8px;
}

.artist-track-image {
    height: 48px;
}

.artist-track-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .artist-album-details {
        flex-direction: column;
    }

    .artist-album-image-container,
    .artist-album-image {
        min-width: 20vw;
        width: 20vw;
        height: 20vw;
    }
    
    .album-title {
        font-size: 12px;
        text-align: center;
    }

    .discography-container {
        width: 100%;
    }

    .discography-settings {
        width: 100%;
    }

    .artist-tracks {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}