.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 50px;
    padding: 4px 2%;
    margin-top: auto;
    /* margin-bottom: 4px; */
    background-color: #2c2c2c;
    border-top: 2px solid black;
    /* box-shadow: 0 5px 4px 0 rgba(0,0,0,0.1); */
}

.footer-spotify,
.footer-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-spotify {
    height: 100%;
    gap: 16px;
}

.footer-links {
    gap: 8px;
}

.icon {
    height: 36px;
}

.footer-text > p {
    margin: 0;
}

.white-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(271deg) brightness(105%) contrast(104%);
}

.icon:hover {
    /* color: #fff;
    background-color: #2c2c2c; */
    transform: translateY(-2px); 
}