.error-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    border: 2px solid red;
    background-color: salmon;
    color: black;
    padding: 16px;
    border-radius: 8px;
}

.error-logout {
    color: black !important;
}