.active {
    box-shadow: inset 0 0 5px #000;
}

.track-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.track {
    display: flex;
    align-items: center;
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.track-name {
    font-weight: 700;
}

.album-image-container,
.album-image {
    height: 128px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}