.track-result,
.artist-result,
.album-result {
    display: flex;
    align-items: center;
}

.track-results,
.artist-results,
.album-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.search-result-image {
    width: 48px;
}

.result-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result-details > p {
    margin: 0;
}

.track-results,
.artist-results,
.album-results {

    border: 3px solid black;
}